{{>header}}
{{>navbar}}
<section class="container my-4">
    <form>
        <div class="mb-3">
            <input class="form-control" placeholder="title" name="title">
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="name" name="name">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">edit</button>
        </div>
    </form>
</section>
{{>footer}}